<div class="wrapper">
  <div class="login-component">
    <mat-card>
      <mat-card-header class="login-component-header">
        <img mat-card-image src="assets/your-logo-here.jpg" alt="Your Logo" />
        <mat-card-title>Portal</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <form class="login-component-form" [formGroup]="loginForm">
              <mat-form-field>
                  <mat-label>First name</mat-label>
                  <input matInput formControlName="firstName" placeholder="First name" />
                  <mat-error *ngIf="loginForm.controls.firstName.invalid">
                      Please enter your first name.
                  </mat-error>
              </mat-form-field>
              <mat-form-field>
                  <mat-label>Last name</mat-label>
                  <input matInput formControlName="lastName" placeholder="Last name" />
                  <mat-error *ngIf="loginForm.controls.email.invalid">
                      Please enter your last name.
                  </mat-error>
              </mat-form-field>
              <mat-form-field>
                  <mat-label>Phone number</mat-label>
                  <input matInput formControlName="phoneNumber" placeholder="Phone number" />
                  <mat-error *ngIf="loginForm.controls.phoneNumber.invalid">
                    Please enter your phone number.
                  </mat-error>
              </mat-form-field>
              <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" placeholder="Email" />
                  <mat-error *ngIf="loginForm.controls.email.invalid">
                    Please enter your email address.
                  </mat-error>
              </mat-form-field>
              <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput
                         formControlName="password"
                         placeholder="Password"
                         type="password" />
                  <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                    Please enter your password.
                  </mat-error>
              </mat-form-field>
              <mat-form-field>
                  <mat-label>Repeat password</mat-label>
                  <input matInput
                         formControlName="repeatPassword"
                         placeholder="Enter your password again"
                         type="password" />
                  <mat-error *ngIf="loginForm.controls.repeatPassword.hasError('required')">
                    Please enter your password again.
                  </mat-error>
              </mat-form-field>
              <mat-error *ngIf="loginForm.hasError('passwordMismatch') && loginForm.controls.repeatPassword.touched">
                  The passwords provided do not match.
              </mat-error>
              <div *ngIf="hasSignUpFailed" class="login-component-form-error">
                  The credentials provided aren't valid.
              </div>
          </form>
      </mat-card-content>
      <mat-card-actions [align]="'end'">
        <a mat-button routerLink="/login">Log in</a>
        <button mat-raised-button color="primary" (click)="onSubmit()">
          Sign up
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
