<h1 mat-dialog-title>Edit user</h1>
<div mat-dialog-content>
    <form class="edit-user-form" [formGroup]="editUserForm">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email">
            <mat-error *ngIf="editUserForm.controls.email.invalid">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName" placeholder="First name">
            <mat-error *ngIf="editUserForm.controls.firstName.invalid">
                Please enter a first name
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName" placeholder="Last name">
            <mat-error *ngIf="editUserForm.controls.lastName.invalid">
                Please enter a last name
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Phone number</mat-label>
            <input matInput formControlName="phoneNumber" placeholder="Phone number">
            <mat-error *ngIf="editUserForm.controls.phoneNumber.invalid">
                Please enter a phone number
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="secondary" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="editUserForm.getRawValue()" [disabled]="!editUserForm.dirty || !editUserForm.valid">Save</button>
</div>
